In [1]:
name = 'IBM'
shares = 100
price = 91.1

In [2]:
f'{name:>10s} {shares:>10d} {price:>10.2f}'

'       IBM        100      91.10'

### 포맷 코드
#### d       십진 정수
#### b       이진 정수
#### x       16진 정수
#### f       부동소수점수 [-]m.dddddd
#### e       부동소수점수 [-]m.dddddde+-xx
#### g       E 표기를 선택적으로 사용하는 부동소수점
#### s       문자열
#### c       문자(정수로부터)

#### :>10d   정수를 10자리 필드에 오른쪽 정렬
#### :<10d   정수를 10자리 필드에 왼쪽 정렬
#### :^10d   정수를 10자리 필드에 가운데 정렬
#### :0.2f   부동소수점수를 두 자리 정밀도로 나타냄

In [3]:
s = {
    'name': 'IBM',
    'shares': 100,
    'price': 91.1
}

In [5]:
# 값들의 딕셔너리에 문자열 포매팅을 적용
'{name:>10s} {shares:10d} {price:10.2f}'.format_map(s)

'       IBM        100      91.10'

In [6]:
'{name:>10s} {shares:10d} {price:10.2f}'.format(name='IBM', shares=100, price=91.1)

'       IBM        100      91.10'

In [7]:
# C 스타일 포매팅
'the value is %d' % 3

'the value is 3'

In [8]:
'%5d %-5d %10d' % (3, 4, 5)

'    3 4              5'

In [10]:
'%0.2f' % (3.1415926)  # 오른쪽에는 단일 항목 또는 튜플

'3.14'

In [12]:
value = 42863.1

In [13]:
f'{value:0.4f}'

'42863.1000'

In [14]:
f'{value:>16.2f}'

'        42863.10'

In [15]:
f'{value:<16.2f}'

'42863.10        '

In [17]:
f'{value:*>16,.2f}'

'*******42,863.10'

In [18]:
'%0.4f' % value

'42863.1000'

In [19]:
'%16.2f' % value

'        42863.10'

In [21]:
# 포매팅한 문자열을 저장
f = '%0.4f' % value
type(f)

str

In [41]:
report = [
    ('AA', 100, 9.22, -22.980000000000004),
    ('IBM', 50, 106.28, 15.180000000000007),
    ('CAT', 150, 35.46, -47.98),
    ('MSFT', 200, 20.89, -30.339999999999996),
    ('GE', 95, 13.48, -26.889999999999997)
]

In [42]:
for r in report:
    print('%10s %10d %10.2f %10.2f' % r)

        AA        100       9.22     -22.98
       IBM         50     106.28      15.18
       CAT        150      35.46     -47.98
      MSFT        200      20.89     -30.34
        GE         95      13.48     -26.89

In [44]:
for name, shares, price, change in report:
    print(f'{name:>10s} {shares:>10d} {price:>10.2f} {change:>10.2f}')

        AA        100       9.22     -22.98
       IBM         50     106.28      15.18
       CAT        150      35.46     -47.98
      MSFT        200      20.89     -30.34
        GE         95      13.48     -26.89

In [60]:
headers = ('Name', 'Shares', 'Price', 'Change')
print(f'{headers[0]:>10s} {headers[1]:>10s} {headers[2]:>10s} {headers[3]:>10s}')
print('---------- ---------- ---------- -----------')
for name, shares, price, change in report:
    print(f'{name:>10s} {shares:>10d} {price:>10.2f} {change:>10.2f}')

      Name     Shares      Price     Change
---------- ---------- ---------- -----------
        AA        100       9.22     -22.98
       IBM         50     106.28      15.18
       CAT        150      35.46     -47.98
      MSFT        200      20.89     -30.34
        GE         95      13.48     -26.89