In [4]:
a = [1,2,3]
b = a
c = [a,b]

c

[[1, 2, 3], [1, 2, 3]]

In [5]:
a.append(999)
a

[1, 2, 3, 999]

In [6]:
b

[1, 2, 3, 999]

In [7]:
c

[[1, 2, 3, 999], [1, 2, 3, 999]]

In [9]:
a = [1,2,3]
b = a
a = [4,5,6]

b

[1, 2, 3]

In [10]:
a = [1, 2, 3]
b = a

# 두 값이 정확히 같은 객체
a is b

True

In [11]:
id(a)

140658232762184

In [12]:
id(b)

140658232762184

In [13]:
c = [1, 2, 3]

a is c

False

In [15]:
# 객체 검사에는 늘 == 사용하는 게 좋음
a == c

True

In [16]:
# 얕은 복사

a = [2, 3, [100, 101], 4]
b = list(a)
b

[2, 3, [100, 101], 4]

In [17]:
a is b

False

In [18]:
a[2].append(102)
a

[2, 3, [100, 101, 102], 4]

In [19]:
b[2]

[100, 101, 102]

In [20]:
# 내부 리스트 공유
a[2] is b[2]

True

In [24]:
# 깊은 복사

a = [2, 3, [100, 101], 4]

import copy
b = copy.deepcopy(a)
b

[2, 3, [100, 101], 4]

In [25]:
a[2].append(102)
a[2]

[100, 101, 102]

In [26]:
b[2]

[100, 101]

In [27]:
a[2] is b[2]

False

In [28]:
if isinstance(a, list):
    print('a is a list')

a is a list

In [29]:
if isinstance(a, (list, tuple)):
    print('a is a list or tuple')

a is a list or tuple

#### 숫자, 문자열, 리스트, 함수, 예외, 클래스, 인스턴스(instance) 등 모든 것은 객체
#### 특별 대우를 받는 객체는 x
#### 모든 객체가 일급

In [30]:
import math

items = [abs, math, ValueError]
items

[<function abs(x, /)>,
 <module 'math' from '/snap/jupyter/6/lib/python3.7/lib-dynload/math.cpython-37m-x86_64-linux-gnu.so'>,
 ValueError]

In [31]:
# 할 수 있다고 해서 함부로 사용하지는 x
items[0](-45)

45

In [32]:
abs(-45)

45

In [33]:
items[1].sqrt(2)

1.4142135623730951

In [34]:
try:
    x = int('not a number')
except items[2]:
    print('failed!')

failed!

In [35]:
int('not a number')

ValueError: invalid literal for int() with base 10: 'not a number'

In [45]:
import csv
types = [str, int, float]

f = open('portfolio.csv')
rows = csv.reader(f)
headers = next(rows)
row = next(rows)
row

['AA', '100', '32.20']

In [46]:
types[1](row[1]) * types[2](row[2])

3220.0000000000005

In [47]:
r = list(zip(types, row))
r

[(str, 'AA'), (int, '100'), (float, '32.20')]

In [48]:
converted = []

for func, val in zip(types, row):
    converted.append(func(val))
    
converted

['AA', 100, 32.2]

In [49]:
converted[1] * converted[2]

3220.0000000000005

In [50]:
converted = [func(val) for func, val in zip(types, row)]
converted

['AA', 100, 32.2]

In [51]:
headers

['name', 'shares', 'price']

In [52]:
converted

['AA', 100, 32.2]

In [53]:
dict(zip(headers, converted))

{'name': 'AA', 'shares': 100, 'price': 32.2}

In [55]:
types

[str, int, float]

In [56]:
row

['AA', '100', '32.20']

In [54]:
{name: func(val) for name, func, val in zip(headers, types, row)}

{'name': 'AA', 'shares': 100, 'price': 32.2}

In [57]:
f = open('dowstocks.csv')
rows = csv.reader(f)
headers = next(rows)
headers

['name', 'price', 'date', 'time', 'change', 'open', 'high', 'low', 'volume']

In [58]:
row = next(rows)
row

['AA',
 '39.48',
 '6/11/2007',
 '9:36am',
 '-0.18',
 '39.67',
 '39.69',
 '39.45',
 '181800']

In [59]:
types = [str, float, str, str, float, float, float, float, float]
converted = [func(val) for func, val in zip(types, row)]
converted

['AA', 39.48, '6/11/2007', '9:36am', -0.18, 39.67, 39.69, 39.45, 181800.0]

In [60]:
record = dict(zip(headers, converted))
record

{'name': 'AA',
 'price': 39.48,
 'date': '6/11/2007',
 'time': '9:36am',
 'change': -0.18,
 'open': 39.67,
 'high': 39.69,
 'low': 39.45,
 'volume': 181800.0}

In [61]:
record['name']

'AA'

In [62]:
record['price']

39.48

In [63]:
date = record['date']
date

'6/11/2007'

In [66]:
types = [int, int, int]
row = date.split('/')
row

converted = tuple(func(val) for func, val in zip(types, row))
converted

(6, 11, 2007)