### 시퀀스 자료형: 순서가 유지되고, 정수로 인덱싱하며, 길이가 있다.
#### 문자열: 'Hello'. 문자열(string)은 문자(character)들의 시퀀스다.
#### 리스트: [1, 4, 5].
#### 튜플: ('GOOG', 100, 490.1).

In [3]:
b = [1, 2, 3]
b * 2

[1, 2, 3, 1, 2, 3]

In [4]:
a = (1, 2, 3)
b = (4, 5)
a + b

(1, 2, 3, 4, 5)

In [5]:
c = [1, 5]
a + c

TypeError: can only concatenate tuple (not "list") to tuple

In [18]:
# 슬라이싱: 시퀀스의 일부(subsequence)를 취하는 것
a = [0,1,2,3,4,5,6,7,8]
a[2:5]

[2, 3, 4]

In [19]:
a[2:4] = [10,11,12]  
a

[0, 1, 10, 11, 12, 4, 5, 6, 7, 8]

In [20]:
del a[2:4]
a

[0, 1, 12, 4, 5, 6, 7, 8]

In [22]:
s = [1, 2, 3, 4]
sum(s)

10

In [23]:
min(s)

1

In [24]:
max(s)

4

In [25]:
t = ['Hello', 'World']
max(t)

'World'

In [29]:
# break 문
# 문장의 실행을 break하면 루프에서 빠져나가서 다음 문장을 수행
namelist = []

for name in namelist:
    if name == 'Jake':
        break
    # ...
    # ...
# 문장

In [30]:
# continue 문
# 한 원소를 건너뛰고 다음으로 감
# 현재 항목에 관심이 없거나 처리 과정에서 무시해야 할 때 유용
lines = []

for line in lines:
    if line == '\n':    # 공백 행을 건너뜀
        continue
    # 나머지 문장들
    # ...

In [31]:
for k in range(10, 50, 2):
    print(k)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [32]:
names = ['Elwood', 'Jake', 'Curtis']

for i, name in enumerate(names):
    print(i, name)

0 Elwood
1 Jake
2 Curtis

In [34]:
with open('portfolio.csv') as f:
    for lineno, line in enumerate(f, start=1):
        print('lineno >> ', lineno)
        print('line >> ', line)

lineno >>  1
line >>  name,shares,price

lineno >>  2
line >>  "AA",100,32.20

lineno >>  3
line >>  "IBM",50,91.10

lineno >>  4
line >>  "CAT",150,83.44

lineno >>  5
line >>  "MSFT",200,51.23

lineno >>  6
line >>  "GE",95,40.37

lineno >>  7
line >>  "MSFT",50,65.10

lineno >>  8
line >>  "IBM",100,70.44

In [35]:
points = [
  (1, 4),(10, 40),(23, 14),(5, 6),(7, 8)
]

for x, y in points:
    print(x, y)

1 4
10 40
23 14
5 6
7 8

In [39]:
columns = ['name', 'shares', 'price']
values = ['GOOG', 100, 490.1 ]
pairs = zip(columns, values)
pairs

In [40]:
dict(pairs)

{'name': 'GOOG', 'shares': 100, 'price': 490.1}

In [41]:
for n in range(10):
    print(n, end=' ')

0 1 2 3 4 5 6 7 8 9

In [42]:
for n in range(10, 0, -1):
    print(n, end=' ')

10 9 8 7 6 5 4 3 2 1

In [43]:
for n in range(0, 10, 2):
    print(n, end=' ')

0 2 4 6 8

In [85]:
import csv

def portfolio_cost(filename):
    f = open(filename)
    rows = csv.reader(f)
    total_cost = 0
    next(rows)
    
    for rowno, row in enumerate(rows, start=2):
        try:
            total_cost += (int(row[1]) * float(row[2]))
        except ValueError:
            print(f"Row {rowno}: Couldn't convert: {row}")
    return total_cost
    
portfolio_cost('missing.csv')

Row 5: Couldn't convert: ['MSFT', '', '51.23']
Row 8: Couldn't convert: ['IBM', '', '70.44']

27381.15

In [63]:
f = open('portfolio.csv')
rows = csv.reader(f)
headers = next(rows)
row = next(rows)

list(zip(headers, row))

[('name', 'AA'), ('shares', '100'), ('price', '32.20')]

In [64]:
record = dict(zip(headers, row))
record

{'name': 'AA', 'shares': '100', 'price': '32.20'}

In [87]:
import csv

def portfolio_cost(filename):
    f = open(filename)
    rows = csv.reader(f)
    total_cost = 0
    headers = next(rows)
    
    for rowno, row in enumerate(rows, start=2):
        record = dict(zip(headers, row))
        try:
            nshares = int(record['shares'])
            price = float(record['price'])
            total_cost += nshares * price
        except ValueError:
            print(f"Row {rowno}: Couldn't convert: {row}")
    return total_cost
    
portfolio_cost('missing.csv')

Row 5: Couldn't convert: ['MSFT', '', '51.23']
Row 8: Couldn't convert: ['IBM', '', '70.44']

27381.15

In [88]:
prices = {
    'GOOG' : 490.1,
    'AA' : 23.45,
    'IBM' : 91.1,
    'MSFT' : 34.23
}
prices.items()

dict_items([('GOOG', 490.1), ('AA', 23.45), ('IBM', 91.1), ('MSFT', 34.23)])

In [89]:
pricelist = list(zip(prices.values(), prices.keys()))
pricelist

[(490.1, 'GOOG'), (23.45, 'AA'), (91.1, 'IBM'), (34.23, 'MSFT')]

In [90]:
min(pricelist)

(23.45, 'AA')

In [91]:
sorted(pricelist)

[(23.45, 'AA'), (34.23, 'MSFT'), (91.1, 'IBM'), (490.1, 'GOOG')]

In [92]:
a = [1, 2, 3, 4]
b = ['w', 'x', 'y', 'z']
c = [0.2, 0.4, 0.6, 0.8]

list(zip(a, b, c))

[(1, 'w', 0.2), (2, 'x', 0.4), (3, 'y', 0.6), (4, 'z', 0.8)]

In [93]:
# zip(): 가장 짧은 입력 시퀀스의 마지막 원소에서 멈춤
a = [1, 2, 3, 4, 5, 6]
b = ['x', 'y', 'z']

list(zip(a, b))

[(1, 'x'), (2, 'y'), (3, 'z')]