In [18]:
class Shop:
    DESCRIPTION = 'Shop class'
    SHOP_LIST = []
    
    def __init__(self, name):
        self.name = name
        Shop.SHOP_LIST.append(self)
        
    def __repr__(self):
        return f'name: {self.name}'
    
    @classmethod
    def show_count(cls):
        print(len(cls.SHOP_LIST))
        
    @classmethod
    def show_info(cls):
        result = '상점: {shop_list} (총 {shop_count}개)'.format(
        shop_list = ', '.join([shop.name for shop in cls.SHOP_LIST]),
        shop_count = len(cls.SHOP_LIST))
        print(result)

In [19]:
cu = Shop('CU')
paik = Shop('빽다방')
subway = Shop('써브웨이')

In [20]:
Shop.show_count()

3

In [21]:
Shop.show_info()

상점: CU, 빽다방, 써브웨이 (총 3개)

In [22]:
Shop.SHOP_LIST

[name: CU, name: 빽다방, name: 써브웨이]

In [23]:
for shop in Shop.SHOP_LIST:
    print(shop.name)

CU
빽다방
써브웨이

In [26]:
[shop.name for shop in Shop.SHOP_LIST]

['CU', '빽다방', '써브웨이']

In [27]:
str(1234)

'1234'

In [28]:
str(['asdf', 'sef'])

"['asdf', 'sef']"

In [30]:
def square(value):
    if isinstance(value, str):
        value = int(value)
    return value ** 2

In [31]:
square('5')

25

In [32]:
square(5)

25

In [48]:
class Dog:
    def __init__(self, name):
        self.name = name
        
    def bark(self):
        print('walwal')
        
class Cat:
    def __init__(self, name):
        self.name = name
        
    def bark(self):
        print('myao')
        
def animal_sound(animal):
    animal.bark()

In [49]:
dog = Dog('A')
dog

In [50]:
cat = Cat('B')
cat

In [51]:
animal_sound(dog)
animal_sound(cat)

walwal
myao

In [52]:
def square(value: int):
    return value ** 2

In [53]:
square(5)

25

In [54]:
square('5')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'