In [1]:
def send_sms(world):
    print('hello', world)
    
send_sms('moore')

hello moore

In [4]:
def hello_return(world):
    val = 'hello ' + str(world)
    return val

hello_return('moore')

'hello moore'

In [9]:
# 다중 리턴!
def func_mul(x):
    y1 = x *100
    y2 = x * 200
    y3 = x * 300
#     return y1, y2, y3
    return [y1, y2, y3]

# val1, val2, val3 = func_mul(100)
lt = func_mul(100)

In [6]:
val1

10000

In [7]:
val2

20000

In [8]:
val3

30000

In [10]:
lt

[10000, 20000, 30000]

In [16]:
# *args, *kwargs
def args_func(*args):
    print(args)
    
#     for t in args:
#         print(t)

    for i, v in enumerate(args):
        print(i, v)
    
args_func('kwon')

('kwon',)
0 kwon

In [17]:
args_func('kwon', 'kim', 'lee')

('kwon', 'kim', 'lee')
0 kwon
1 kim
2 lee

In [19]:
# * -> 튜플, ** -> 딕셔너리
def kwargs_func(**kwargs):
    print(kwargs)
    
    for k, v in kwargs.items():
        print(k, v)
    
kwargs_func(name1='kwon', name2='lee')

{'name1': 'kwon', 'name2': 'lee'}
name1 kwon
name2 lee

In [26]:
# arg1, arg2는 필수인자!
def example_mul(arg1, arg2, *args, **kwargs):
    print(arg1, arg2, args, kwargs)
    
example_mul(19,'kwon', 'kwon', 'age1', age2=30)

19 kwon ('kwon', 'age1') {'age2': 30}

In [27]:
# 중첩함수(클로저)
# 데코레이터
def nested_func(num):
    # 실행은 안됨
    def func_in_func(num):
        print(num)
    print('in func')
    func_in_func(num + 1000)
    
nested_func(1000)

in func
2000

In [32]:
# hint
def func_mul2(x: int) -> list:
    y1 = x *100
    y2 = x * 200
    y3 = x * 300
    return [y1, y2, y3]

func_mul2(5.222)

[522.2, 1044.4, 1566.6000000000001]

In [37]:
def mul_10(num: int) -> int:
    return num * 10

var_func = mul_10
var_func(10)

100

In [40]:
# 람다식 (아주 약간의 메모리 절약도 됨!)
lambda_mul_10 = lambda num: num * 10

lambda_mul_10

In [41]:
# 함수도 매개변수로 받을 수 있음
def func_final(x, y, func):
    print(x * y * func(10))
    
func_final(10, 10, lambda_mul_10)

10000

In [45]:
func_final(10, 10, lambda x: x * 10)

10000