### Sets

In [2]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [3]:
a = set('abracadabra')
b = set('alacazam')

In [4]:
a

{'a', 'b', 'c', 'd', 'r'}

In [5]:
b

{'a', 'c', 'l', 'm', 'z'}

In [6]:
a - b

{'b', 'd', 'r'}

In [7]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [8]:
a & b

{'a', 'c'}

In [9]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [12]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [13]:
b = {x for x in 'abracadabra'}
b

{'a', 'b', 'c', 'd', 'r'}

### Dictionaries

In [14]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [15]:
tel['irv'] = 4127

In [16]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127, 'irv': 4127}

In [17]:
list(tel)

['jack', 'sape', 'guido', 'irv']

In [18]:
sorted(tel)

['guido', 'irv', 'jack', 'sape']

In [19]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [20]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [21]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Looping Techniques

In [22]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

In [24]:
for q, a in zip(questions, answers):
    print(f'my {q} is {a}')

my name is lancelot
my quest is the holy grail
my favorite color is blue

In [26]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [28]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [29]:
import math

raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
raw_data

[56.2, nan, 51.7, 55.3, 52.5, nan, 47.8]

In [30]:
filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

### Comparing Sequences and Other Types

In [31]:
(1, 2, 3) < (1, 2, 4)

True

In [32]:
[1, 2, 3] < [1, 2, 4]

True

In [33]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [34]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [35]:
(1, 2) < (1, 2, -1)

True

In [36]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [37]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True