In [1]:
# 데이터 타입
v_str1 = 'Niceman'
v_bool = True
V_str2 = 'Goodboy'
v_float = 10.3
v_int = 7
v_dict = {
    'name': 'Kwon',
    'age': 25
}
v_list = [3, 5, 7]
v_tupe = 3, 5, 7
v_set = {7, 8, 9}

In [6]:
print(type(v_str1))
print(type(v_bool))
print(type(v_float))
print(type(v_int))
print(type(v_dict))
print(type(v_list))
print(type(v_tupe))
print(type(v_set))

<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [7]:
i1 = 39
i2 = 939
big_int1 = 9999999999999999999999
big_int2 = 77777777777777777777777
f1 = 1.234
f2 = 3.784
f3 = .5
f4 = 10.

In [8]:
print(i1 * i2)

36621

In [9]:
print(big_int1 * big_int2)

777777777777777777777692222222222222222222223

In [10]:
print(f1 ** f2)

2.2158306445574567

In [11]:
print(f3 + i2)

939.5

In [15]:
a = 5.
b = 4
c = 10
print(type(a), type(b))

<class 'float'> <class 'int'>

In [16]:
result2 = a + b
print(result2)

9.0

In [17]:
# 형변환
# int, float, complex(복소수)
print(int(result2))

9

In [18]:
print(float(c))

10.0

In [19]:
print(complex(c))

(10+0j)

In [20]:
print(int(True))

1

In [21]:
print(int('3'))

3

In [22]:
print(complex(False))

0j

In [23]:
y = 100
y += 100
y

200

In [24]:
# 수치 연산 함수
print(abs(-7))

7

In [25]:
n, m = divmod(100, 8)

In [26]:
n

12

In [27]:
m

4

In [31]:
import math

# 5.1 이상의 숫자 중 가장 작은 정수
print(math.ceil(5.1))
# 3.874 이하의 숫자 중 가장 큰 정수
print(math.floor(3.874))

6
3

In [36]:
# 문자열, 문자열연산, 슬라이싱
str1 = 'I am a girl.'
str2 = 'NiceMan'
str3 = ' '
str4 = str('ace')

print(len(str1), len(str2), len(str3), len(str4))

12 7 1 3

In [39]:
escape_str1 = "Do you have a \"big collection\"?"
print(escape_str1)

Do you have a "big collection"?

In [40]:
escape_str2 = "Tab\tTab\tTab"
print(escape_str2)

Tab	Tab	Tab

In [41]:
# raw string
raw_s1 = r'c:\Programs\Test\Bin'
print(raw_s1)

c:\Programs\Test\Bin

In [42]:
raw_s2 = r'\\a\\a'
print(raw_s2)

\\a\\a

In [47]:
# 멀티라인
multi = '''
문자열
멀티라인
테스트
'''
print(multi)

문자열
멀티라인
테스트

In [52]:
# 문자열 연산
str_o1 = '*'
str_o2 = 'abc'
str_o3 = 'def'
str_o4 = 'NiceMan'

In [53]:
print(str_o1 * 10)

**********

In [54]:
print(str_o2 + str_o3)

abcdef

In [55]:
print(str_o1 * 3)

***

In [57]:
print('a' in str_o4)
print('a' not in str_o4)

True
False

In [59]:
# 문자열 형 변환
print(str(777) + 'a')

777a

In [73]:
# 문자열 함수
a = 'niceman'
b = 'orange'
# print(a.islower())
# print(b.endswith('e'))
# print(a.capitalize())
# print(a.replace('nice', 'good'))
# print(reversed(b))
# print(list(reversed(b)))

In [74]:
print(a[0:3])

nic

In [75]:
print(a[0:4])

nice

In [77]:
print(a[0:len(a) - 1])

nicema

In [78]:
print(a[:4])

nice

In [79]:
print(a[:])

niceman

In [80]:
print(b[0:4:2])

oa

In [81]:
print(b[1:-2])

ran

In [82]:
print(b[::-1])

egnaro

In [ ]:
# list (순서o, 중복o, 수정o, 삭제o)
# tuple (순서o, 중복o, 수정x, 삭제x)
# dictionary (순서x, 중복x, 수정o, 삭제o)
# set (순서x, 중복x)

In [88]:
# list, tuple
# list
# 선언
a = []
b = list()
c = [1, 2, 3, 4]
d = [10, 100, 'pen', 'banana', 'orange']
e = ['10', '100', 'pen', ['banana', 'orange']]

In [89]:
# 인덱싱
d[3]

'banana'

In [90]:
d[-2]

'banana'

In [91]:
d[0] + d[1]

110

In [92]:
e[0] + e[1]

'10100'

In [94]:
e[3][1]

'orange'

In [95]:
e[-1][-1]

'orange'

In [96]:
# 슬라이싱
d[0:2]

[10, 100]

In [98]:
e[3][1:2]

['orange']

In [99]:
# 연산
c + d

[1, 2, 3, 4, 10, 100, 'pen', 'banana', 'orange']

In [100]:
c * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [103]:
str(c[0]) + 'hi'

'1hi'

In [104]:
# list 수정, 삭제
c[0] = 77
c

[77, 2, 3, 4]

In [105]:
c[1:3] = ['a', 'b', 'c']
c

[77, 'a', 'b', 'c', 4]

In [107]:
c[1] = [5, 6, 7]
c

[77, [5, 6, 7], 'b', 'c', 4]

In [108]:
del c[1]
del c[-1]
c

[77, 'b', 'c']

In [174]:
# list 함수
y = [5, 2, 3, 1, 4]
y.append(6)
y

[5, 2, 3, 1, 4, 6]

In [175]:
y.sort()
y

[1, 2, 3, 4, 5, 6]

In [176]:
y.reverse()
y

[6, 5, 4, 3, 2, 1]

In [177]:
y.insert(2, 7)
y

[6, 5, 7, 4, 3, 2, 1]

In [178]:
y.remove(3)
y

[6, 5, 7, 4, 2, 1]

In [179]:
y.pop() # LIFO
y

[6, 5, 7, 4, 2]

In [180]:
ex = [88, 77]
y.append(ex)
y

[6, 5, 7, 4, 2, [88, 77]]

In [181]:
y.extend(ex)
print(y)

[6, 5, 7, 4, 2, [88, 77], 88, 77]

In [182]:
# 삭제: del, remove, pop

In [187]:
# tuple
a = ()
b = (1, )
c = (1, 2, 3, 4)
d = (10, 100, ('a', 'b', 'c'))

In [188]:
c[2]

3

In [189]:
d[2][1]

'b'

In [190]:
d[2:]

(('a', 'b', 'c'),)

In [192]:
d[2][0:2]

('a', 'b')

In [193]:
c + d

(1, 2, 3, 4, 10, 100, ('a', 'b', 'c'))

In [194]:
c * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [195]:
c[2] = 2
c

TypeError: 'tuple' object does not support item assignment

In [196]:
# tuple 함수
z = (5, 2, 1, 3, 1)
3 in z

True

In [197]:
z.index(5)

0

In [198]:
x.index(0)

NameError: name 'x' is not defined

In [199]:
z.count(1)

2

In [202]:
# dictionary, set 자료형
# dictionary
# key, value(Json) -> MongoDB, 등
# 선언
a = {'name': 'Kwon', 'phone': '010-8276-0045', 'birth': 950211}
b = {0: 'hello python', 1: 'hello coding'}
c = {'arr': [1, 2, 3, 4, 5]}
type(c)

dict

In [203]:
# 출력
a['name']

'Kwon'

In [204]:
a.get('phone')

'010-8276-0045'

In [206]:
print(a.get('address'))

None

In [207]:
c['arr'][1:3]

[2, 3]

In [208]:
# dictionary 추가
a['address'] = 'Seoul'
a

{'name': 'Kwon', 'phone': '010-8276-0045', 'birth': 950211, 'address': 'Seoul'}

In [209]:
a['rank'] = [1, 2, 3]
a

{'name': 'Kwon',
 'phone': '010-8276-0045',
 'birth': 950211,
 'address': 'Seoul',
 'rank': [1, 2, 3]}

In [211]:
a['order'] = (3, 4, 5)
a

{'name': 'Kwon',
 'phone': '010-8276-0045',
 'birth': 950211,
 'address': 'Seoul',
 'rank': [1, 2, 3],
 'order': (3, 4, 5)}

In [212]:
# keys, values, items
a.keys()

dict_keys(['name', 'phone', 'birth', 'address', 'rank', 'order'])

In [214]:
temp = list(a.keys())
temp[1:3]

['phone', 'birth']

In [215]:
a.values()

dict_values(['Kwon', '010-8276-0045', 950211, 'Seoul', [1, 2, 3], (3, 4, 5)])

In [216]:
list(a.values())

['Kwon', '010-8276-0045', 950211, 'Seoul', [1, 2, 3], (3, 4, 5)]

In [217]:
list(a.items())

[('name', 'Kwon'),
 ('phone', '010-8276-0045'),
 ('birth', 950211),
 ('address', 'Seoul'),
 ('rank', [1, 2, 3]),
 ('order', (3, 4, 5))]

In [218]:
2 in b

False

In [219]:
1 in b

True

In [221]:
'name' not in a

False

In [224]:
# set(집합)
a = set()
b = set([1, 2, 3, 4])
c = set({1, 2, 3, 4, 4})
c

{1, 2, 3, 4}

In [225]:
tuple(b)

(1, 2, 3, 4)

In [226]:
list(b)

[1, 2, 3, 4]

In [229]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합 intersection(), &
s1.intersection(s2)
s1 & s2

{4, 5, 6}

In [232]:
# 합집합 union(), |
s1.union(s2)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [235]:
# 차집합 difference(), -
s1 - s2
s1.difference(s2)

{1, 2, 3}

In [240]:
# 추가, 제거
s3 = set([7, 8, 10, 15])
s3.add(18)
s3

{7, 8, 10, 15, 18}

In [241]:
s3.add(7)
s3

{7, 8, 10, 15, 18}

In [242]:
s3.remove(10)
s3

{7, 8, 15, 18}

In [243]:
type(s3)

set